* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.navbar {
    background-color: rgb(105, 105, 217);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar h1 {
    margin-left: 15px;
}

.navbar nav {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.navbar .user-profile {
    font-size: 25px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 755px;
}

.content h1 {
    text-align: center;
}

.content p {
    text-align: center;
}

.registered-users-table {
    margin-top: 105px;
}

.registered-users h1 {
    text-align: center;
}

.registered-users-table table {
    text-align: center;
}

.user-playlist .create-playlist {
    font-size: 25px;
}

.tbl {
    margin-top: 35px;
    padding: 255px;
}

.tbl table {
    border: 3px solid rgb(115, 4, 62);
    margin-bottom: 75px;
    table-layout: fixed;
}

h1 {
    margin-top: 25px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
}

.tbl table th {
    border: 3px solid rgb(115, 4, 62);
    font-size: 28px;
}

.tbl table td {
    border: 3px solid rgb(115, 4, 62);
    font-size: 19px;
}