* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #191919;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    width: 300px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.sidebar-nav {
    background: #111111;
    border-radius: 10px;
    padding: 20px 10px;
    margin-top: 9px;
    margin-right: 8px;
}

.sidebar-nav ul {
    list-style: none;
    margin-top: 25px;
}

.sidebar-nav ul li {
    padding: 10px 20px;
}

.sidebar-nav ul li a:hover{
    color: #fff;
}

.sidebar-nav ul li a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}

.sidebar-nav ul li a i{
    font-size: 20px;
    margin-right: 10px;
}

.sidebar-nav2 {
    background: #111111;
    border-radius: 10px;
    padding: 20px 10px;
    margin-top: 9px;
    margin-right: 8px;
}

.sidebar-nav2 ul {
    list-style: none;
    margin-top: 25px;
}

.sidebar-nav2 ul li {
    padding: 10px 20px;
}

.sidebar-nav2 ul li a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}

.sidebar-nav2 ul li a i{
    font-size: 20px;
    margin-right: 10px;
}

.library::after {
    content: '+';
    float: right;
    text-align: center;
    background: #1f1e1e;
    border-radius: 50%;
    font-size: 15px;
}

.create-playlist {
    background: #302f2f;
    padding: 18px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sidebar-scroll {
    height: 125px;
    overflow-y: auto;
}

.sidebar-scroll::-webkit-scrollbar {
    background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background: transparent;
    width: 10px;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb {
    background: #5c5b5b;
    width: 10px;
}

.create-playlist h4 {
    color: #fff;
    font-size: 15px;
}

.create-playlist p {
    color: #fff;
    font-size: 12px;
    margin: 12px 0;
}

.create-playlist button {
    padding: 8px 20px;
    border: 0;
    cursor: pointer;
    outline: 0;
    border-radius: 20px;
    font-weight: 600;
}

.main-section {
    margin-left: 300px;
    background: #181818;
    overflow: auto;
}

.main-section .top-nav {
    padding: 20px 30px;
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.main-section .top-nav span {
    color: white;
}

.song-section {
    color: white;
    margin-top: 20px;
    margin-left: 35px;
}

.song-list {
    background-color: #000;
    border-radius: 10px;
    height: 217px;
    margin-top: 5px;
    width: 98%;
}

.song-section .song-list ol {
    font-size: 18px;
    padding-top: 20px;
    margin-left: 25px;
}
.song-section .song-list ol li {
    margin-bottom: 15px;    
}

.playlist-section {
    color: white;
    margin-top: 20px;
    margin-left: 35px;
}

.playlist-list {
    background-color: #000;
    border-radius: 10px;
    height: 355px;
    margin-top: 5px;
    width: 98%;
}

.playlist-section .playlist-list ol {
    font-size: 18px;
    padding-top: 20px;
    margin-left: 25px;
}

.playlist-section .playlist-list ol li {
    margin-top: 15px;
}
.playlist-section .playlist-list ol li a {
    text-decoration: none;
}

.playlist-form {
    border: 1px solid pink;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.playlist-form .edit-playlist {
    background-color: #000;
    border: 1px solid pink;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 217px;
    width: 335px;
}

.playlist-form .edit-playlist span {
    font-size: 25px;
}

.playlist-form .btnClose{
    text-align: right;
    width: 95%;
    height: 15px;

}

.playlist-form .btnClose button{
    background-color: transparent;
    border: none;
    color: white;
    text-align: right;
}

.playlist-form .edit-playlist .playlist-name {
    width: 80%;
}

.playlist-form .edit-playlist .playlist-name input {
    background-color: transparent;
    color: white;
    border-radius: 5px;
    height: 35px;
    margin-top: 15px;
    padding: 5px;
    width: 100%;
}

.playlist-form .edit-playlist .btnSubmit {
    width: 30%;
    height: 36px;

}

.playlist-form .edit-playlist .btnSubmit button {
    background: #525CEB;
    border-radius: 18px;
    font-size: 19px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    margin: 15px 0;
}

.playlist-form .close-form {
    display: flex;
    flex-direction: row-reverse;
}

.playlist-title h1 { 
    color: white;
}

.playlist {
    padding: 20px 40px;
}

.playlist h2 {
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}

.playlist .card {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.playlist .card .item {
    width: 160px;
    min-width: 140px;
    background-color: #302f2f;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
}

.playlist .card .item:hover {
    background-color: #3d3c3c;
}

.playlist .card .item a {
    font-size: 25px;
    text-decoration: none;
}

.playlist .card .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.playlist .item h4 {
    color: white;
}

.playlist .item p {
    color: #8f8e8e;
    font-size: 13px;
    margin-top: 10px;
}

.playlist .item p:hover {
    text-decoration: underline;
}

.playlist a {
    position: relative;
    color: black;
}

.playlist a:visited {color: black;} /* Visited link    */
.playlist a:hover {color: black;}   /* Mouse over link */
.playlist a:active {color: black;}  /* Selected link   */

.playlist a .btnPlay i{ 
    position: absolute;
    background-color: #1db954;
    border-radius: 50%;
    padding: 14px;
    right: 8px;
    top: -40px;
    opacity: 0;
    transform: 0.3 ease all;
}

.playlist .card .item:hover a .btnPlay i{
    opacity: 1;
    transform: translateY(-20px);
}



