* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    min-height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    background: #302f2f;
    height: 650px;
    width: 366px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

i {
    cursor: pointer;
    transition: all 0.3s;
}

i:hover {
    color: #106f9b;
}

.top {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
    z-index: 10;
    color: #111;
}

.cover-image {
    width: 100%;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transform-origin: 0% 0%;
}

.player-body {
    position: absolute;
    top: 360px;
    left: 0;
    height: 286px;
    width: 100%;
    background-color: #111;
    transition: all 0.3s;
}

.info {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 215px;
    transition: all 0.3s;
}

.info h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

.info h3 {
    font-size: 15px;
    color: #6d6d6d;
}

.container .controls2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 100px;
    z-index: 10;
    transition: all 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background-color: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.pop-up {
    color: white;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background-color: #000;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in 0ms;
}

.pop-up.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in 0ms;
}

.pop-up .btnClose {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: #181818;
    color: white;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}


.pop-up .playlists h2 {
    text-align: center;
    color: white;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.pop-up .playlists .form-element {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin: 15px 0px;
}

.pop-up .playlists .form-element label {
    font-size: 17px;
    color: white;
}

.pop-up .playlists .form-element form input {
    display: none;
}

.pop-up .playlists .form-element button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: white;
}






